<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/baselayout">
<head>
<title>Hello</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div layout:fragment="contents">
		<p>input your name:</p>
		<form method="post" th:action="@{/send}">
			<p>
				TestParam：<input type="text" name="param" />
			</p>
			<p>
				<input type="submit" name="send" value="Send" />
			</p>
		</form>
		<form method="post" th:action="@{/createReportSample}">
			<p>
				パラメータ：<input type="text" name="param2" />
			</p>
			<p>
				<input type="submit" name="createReportSample" value="CreateReportSample" />
			</p>
		</form>
	</div>
</body>
</html>