/*******************************************
 * 基本設定
********************************************/
body {
	margin: auto;
}

table, td, th {
	border: 1px #808080 solid;
	border-collapse: collapse;
}

th{
	background-color: #C0C0C0;
}

h3{
	margin-bottom:5px;
}

.align_right{
	text-align:right;
}

.align_center{
	text-align:center;
}

.align_left{
	text-align:left;
}

.main_div {
	display: flex;
	min-height: 100vh;
	height: 100%;
	flex-direction: column;
}

.header {
	height: 50px;
	background-color: #DD5556;
}

.logout{
	display:flex;
	justify-content:flex-end;
}

.column {
	flex: 1;
	display: flex;
	background: #c4beff;
}

.menu {
	width: 200px;
	background-color: #AA8877;
}

.main_contents {
	flex: 1;
	background-color: #DDEEFF;
}

.footer {
	height: 50px;
	background-color: #CCCCCC;
}

/*******************************************
 * メッセージ用スタイル
********************************************/
.isa_info, .isa_success, .isa_warning, .isa_error {
margin: 5px 0px;
padding:3px;
-webkit-transition: all 1s;
-moz-transition: all 1s;
-ms-transition: all 1s;
-o-transition: all 1s;
transition: all 1s;
opacity: 0;
}
.fadeIn {
    opacity: 1;
}
.fadeOut {
    opacity: 0;
}
.isa_info {
    color: #00529B;
    background-color: #BDE5F8;
}
.isa_success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.isa_warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.isa_error {
    color: #D8000C;
    background-color: #FFBABA;
}
.isa_info i, .isa_success i, .isa_warning i, .isa_error i {
    margin:1px 5px;
    font-size:1em;
    vertical-align:middle;
}