<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/baselayout">
<head>
<title>案件情報削除確認画面</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="/css/list.css" th:href="@{/css/list.css}" rel="stylesheet" />
<link href="/SalesSupporter/css/paging.css" rel="stylesheet" />
</head>
<body>
	<div layout:fragment="contents" class="contents">
		<form method="post" th:action="@{/subProjectListDel}"
			th:object="${form}">
			<div>
				<h3>案件情報削除確認画面</h3>
				<table class="search">
					<tr th:each="obj:${searchSubprojectList}">
						<td>プロジェクト名</td>
						<td th:text="${obj.projectName}"></td>
					</tr>
					<tr th:each="obj:${searchSubprojectList}">
						<td><input type="hidden" name="caseId"
							th:value="${obj.caseId}" />案件名</td>
						<td th:text="${obj.caseName}"></td>
					</tr>
					<tr th:each="obj:${searchSubprojectList}">
						<td>顧客名</td>
						<td th:text="${obj.companyName}"></td>
					</tr>
					<tr th:each="obj:${searchSubprojectList}">
						<td>顧客担当者</td>
						<td th:text="${obj.name}"></td>
					</tr>
					<tr th:each="obj:${searchSubprojectList}">
						<td>契約種別</td>
						<td th:text="${obj.classificationName}"></td>
					</tr>
				</table>
				<input id="delete" name="delete" type="submit" value="削除" />
				<!--
				<table class="none">
					<tr>
						<td class="none" colspan="2">&nbsp;</td>
					</tr>
					<tr>
						<td class="none" colspan="2">
						    <input id="edit" type="button" onClick="location.href='subProjectDetail.html'" name="edit" value="戻る" />
							&nbsp;&nbsp;&nbsp;
							<input id="delete" name="delete" type="submit" value="削除" />
						</td>
					</tr>
				</table>
-->
			</div>
			<!-- onClick="location.href='caseDeleteComplete.html'" -->

<!--
			<input type="hidden" name="_csrf"
				value="88439084-c569-4eea-9f08-99733912f845" />
-->
		</form>
	</div>
</body>
</html>