<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/baselayout">
<head>
<title>案件情報削除完了画面</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="/css/list.css" th:href="@{/css/list.css}" rel="stylesheet" />
<link href="/SalesSupporter/css/paging.css" rel="stylesheet" />
</head>
<body>
	<div layout:fragment="contents" class="contents">
		<form method="post" th:action="@{/subProjectList}" th:object="${form}">
			<div>
				<table>
					<tr>
						<td nowrap>以下の案件情報の削除が完了しました。</td>
					</tr>
					<tr>
						<td>SampleSystem</td>
					</tr>
					<tr>
						<td colspan="2" class="align_right">
							<!--
							<input id="regist" type="button" onClick="location.href='subProjectDetail.html'"value="案件情報一覧へ" />
							-->
						</td>
					</tr>
				</table>
			</div>
			<!--
			<input type="hidden" name="_csrf" value="88439084-c569-4eea-9f08-99733912f845" />
			 -->
		</form>
	</div>
</body>
</html>