<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/baselayout">
<head>
<title>プロジェクト詳細画面</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="/css/list.css" th:href="@{/css/list.css}" rel="stylesheet" />
</head>
<body>
	<div layout:fragment="contents" class="contents">
		<form method="post" th:action="@{/projectDeleteConfirm}" th:object="${form}">
			<div>
				<h3>プロジェクト詳細</h3>
				<table>
					<tr>
						<td width="300">プロジェクトID</td>
						<td width="300" th:text="*{project_id}"></td>
					</tr>
					<tr>
						<td>プロジェクト名</td>
						<td th:text="*{projectName}"></td>
					</tr>
					<tr>
						<td>顧客ID</td>
						<td th:text="*{clientId}"></td>
					</tr>
					<tr>
						<td>顧客名</td>
						<td th:text="*{companyName}"></td>
					</tr>
				</table>
				<br />

				<h3>案件</h3>
				<table>
					<thead>
						<tr>
							<th>選択</th>
							<th>案件名</th>
							<th>開始日</th>
							<th>終了予定日</th>
							<th>売上金額</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="obj : ${serachProjectList}">
							<td><input type="checkbox" th:value="${obj.projectId}" th:name="Check" th:field="*{Check}" /></td>
							<td th:text="${obj.projectName}"></td>

						</tr>

					</tbody>
				</table>
				<div class="align_center">
					<input type="submit" name="back" value="戻る" /> <input name="confirm" type="submit" value="削除" />
				</div>
			</div>
		</form>
	</div>
</body>
</html>