<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/baselayout">
<head>
<title>プロジェクト登録画面</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="/css/login/login.css" th:href="@{/css/login/login.css}" rel="stylesheet" />
<script type="text/javascript">
	// 子ウィンドウを開く<input href="" type="button" onClick="openWindow()" class="glyphicon glyphicon-new-window" aria-hidden="true" value="検索" />
	function openWindow() {
		window.open('./chargeBpSearch', 'child', 'width=1000,height=500')
		//window.open('http://localhost:8080/SalesSupporter/chargeBpSearch', 'child', 'width=1000,height=500')
	}
</script>
</head>
<body>
	<div layout:fragment="contents" class="contents">
		<form method="post" th:action="@{/projectRegistConfirm}" th:object="${form}">
			<div>
				<h3>プロジェクト登録</h3>
				<table>
					<tr>
						<td>プロジェクト名</td>
						<td><input type="text" th:field="*{projectName}" maxlength="10" size="22" /></td>
						<td th:if="${#fields.hasErrors('projectName')}" th:errors="*{projectName}" style="color: red"></td>
					</tr>
					<tr>
						<td>顧客コード</td>
						<td><input type="text" th:field="*{clientId}" maxlength="10" size="22" id="bpCode" /></td>
						<td th:if="${#fields.hasErrors('clientId')}" th:errors="*{clientId}" style="color: red"></td>
						<td><input type="button" onClick="openWindow()" class="glyphicon glyphicon-new-window" aria-hidden="true" value="検索" /></td>
					</tr>
				</table>
				<br />
				<div class="align_center">
					<input name="confirm" type="submit" value="登録" />
				</div>
			</div>
		</form>
	</div>
</body>
</html>