<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/baselayout">
<head>
<title>社員一覧画面</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="/css/list.css" th:href="@{/css/list.css}" rel="stylesheet" />
</head>
<body>
	<div layout:fragment="contents" class="contents">
		<form method="post" th:action="@{/projectList}" th:object="${form}">
			<div>
				<table>
					<tr>
						<td width="300">プロジェクト名</td>
						<td width="300"><input type="text" th:field="*{projectName}" th:name="projectName" maxlength="10" /></td>
						<td width="300" class="align_center"><input id="search" type="submit" name="search" value="検索" /></td>
					</tr>
					<tr>
						<td  class="align_center"><input id="delete" type="submit" name="delete" value="削除" /></td>
						<td class="align_center"><input id="edit" type="submit" name="edit" value="変更" /></td>
						<td class="align_center"><input id="detail" type="submit" name="detail" value="詳細" /></td>
					</tr>
				</table>
			</div>
			<table>
				<thead>
					<tr>
						<th>選択</th>
						<th>プロジェクト名</th>
						<th>顧客コード</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="obj : ${serachProjectList}">
						<td><input type="checkbox" th:value="${obj.projectId}" th:name="Check" th:field="*{Check}" /></td>
						<td th:text="${obj.projectName}"></td>
						<td th:text="${obj.clientId}"></td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
</body>
</html>