<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/baselayout">
<head>
<title>案件担当者削除確認画面</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="/SalesSupporter/css/base.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js}"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js" th:src="@{http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js}"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js" th:src="@{http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js}"></script>
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/redmond/jquery-ui.css" th:href="@{http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/redmond/jquery-ui.css}" />
<script type="text/javascript" src="/javascript/datepicker.js" th:src="@{/javascript/datepicker.js}"></script>
</head>
<body>
	<div layout:fragment="contents" class="contents">
		<form method="post" th:action="@{/chargeDeleteConfirm}" th:object="${form}">
			<div>
				<h3>案件担当者削除確認</h3>
				<table>
					<tr>
						<td>社員番号</td>
						<td th:text="*{employeeNo}"></td>
					</tr>
					<tr>
						<td>BPコード</td>
						<td th:text="*{clientId}"></td>
					</tr>
					<tr>
						<td>エンジニア名</td>
						<td th:text="*{engineerName}"></td>
					</tr>
					<tr>
						<td>単価</td>
						<td><a th:text="*{price}"></a>千円</td>
					</tr>
					<tr>
						<td>超過金額</td>
						<td><a th:text="*{excessAmount}"></a>円</td>
					</tr>
					<tr>
						<td>開始予定日</td>
						<td><a th:text="*{startYear}"></a>年<a th:text="*{startMonth}"></a>月<a th:text="*{startDay}"></a>日</td>
					</tr>
					<tr>
						<td>終了予定日</td>
						<td><a th:text="*{endYear}"></a>年<a th:text="*{endMonth}"></a>月<a th:text="*{endDay}"></a>日</td>
					</tr>
					<tr>
						<td>予定工数</td>
						<td><a th:text="*{manHours}"></a>人月</td>
					</tr>
				</table>
				<br />
				<div class="align_center">
					<input type="submit" name="back" value="戻る" /> <input name="confirm" type="submit" value="削除" />
				</div>
			</div>
		</form>
	</div>
</body>
</html>