<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/baselayout">
<head>
<title>案件担当者登録画面</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="/css/login/login.css" th:href="@{/css/login/login.css}" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js}"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js" th:src="@{http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js}"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js" th:src="@{http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js}"></script>
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/redmond/jquery-ui.css" th:href="@{http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/redmond/jquery-ui.css}" />
<script type="text/javascript" src="/javascript/datepicker.js" th:src="@{/javascript/datepicker.js}"></script>
<script type="text/javascript">
	function entryChange1() {
		radio = document.getElementsByName('entryPlan')
		if (radio[0].checked) {
			//フォーム
			document.getElementById('firstBox').style.display = "none";
			document.getElementById('firstBox2').style.display = "";
			document.getElementById('secondBox').style.display = "none";
			document.getElementById('secondBox2').style.display = "";
			document.getElementById('firstNotice').style.display = "";
		} else if (radio[1].checked) {
			//フォーム
			document.getElementById('firstBox').style.display = "";
			document.getElementById('firstBox2').style.display = "none";
			document.getElementById('secondBox').style.display = "";
			document.getElementById('secondBox2').style.display = "none";
			document.getElementById('firstNotice').style.display = "";
		} else {
			document.getElementById('firstBox').style.display = "none";
			document.getElementById('firstBox2').style.display = "none";
			document.getElementById('firstBox3').style.display = "none";
			document.getElementById('secondBox').style.display = "none";
			document.getElementById('secondBox2').style.display = "none";
			document.getElementById('secondBox3').style.display = "none";
			document.getElementById('firstNotice').style.display = "none";
		}
	}
	//オンロードさせ、リロード時に選択を保持
	window.onload = entryChange1;
</script>

<script type="text/javascript">
	// 子ウィンドウを開く<input href="" type="button" onClick="openWindow()" class="glyphicon glyphicon-new-window" aria-hidden="true" value="検索" />
	function openWindow() {
		window.open('./chargeBpSearch', 'child', 'width=1000,height=500')
		//window.open('http://localhost:8080/SalesSupporter/chargeBpSearch', 'child', 'width=1000,height=500')
	}
</script>
<script>
	// 子ウィンドウを開く<input href="" type="button" onClick="windowOpen()" class="glyphicon glyphicon-new-window" aria-hidden="true" value="検索" />
	function windowOpen() {
		window.open('./chargeEmployeeSearch', 'child', 'width=1000,height=500')
	}
</script>
</head>
<body>
	<div layout:fragment="contents" class="contents">
		<form method="post" th:action="@{/chargeRegistConfirm}" th:object="${form}">
			<div>
				<h3>案件担当者登録</h3>
				<div id="output"></div>
				<input type="radio" name="entryPlan" value="hoge1" onclick="entryChange1();" checked="checked" />BP <input type="radio" name="entryPlan" value="hoge2" onclick="entryChange1();" />社員

				<table>
					<tr id="firstBox">
						<td>社員番号</td>
						<td><input type="text" th:field="*{employeeNo}" maxlength="10" size="22" id="employeeCode" /><input type="button" onClick="windowOpen()" class="glyphicon glyphicon-new-window" aria-hidden="true" value="検索" /></td>
						<td th:if="${#fields.hasErrors('employeeNo')}" th:errors="*{employeeNo}" style="color: red"></td>
					</tr>
					<tr id="firstBox2">
						<td>BPコード</td>
						<td><input type="text" th:field="*{clientId}" maxlength="10" size="22" id="bpCode" readonly="readonly"/><input type="button" onClick="openWindow()" class="glyphicon glyphicon-new-window" aria-hidden="true" value="検索" /></td>
						<td th:if="${#fields.hasErrors('clientId')}" th:errors="*{clientId}" style="color: red"></td>
					</tr>
					<tr>
						<td>エンジニア名</td>
						<td><input type="text" th:field="*{engineerName}" maxlength="10" size="22" /></td>
						<td th:if="${#fields.hasErrors('engineerName')}" th:errors="*{engineerName}" style="color: red"></td>
					</tr>
					<tr>
						<td>単価</td>
						<td><input type="text" th:field="*{price}" maxlength="10" size="18" />千円</td>
						<td th:if="${#fields.hasErrors('price')}" th:errors="*{price}" style="color: red"></td>
					</tr>
					<tr>
						<td>超過金額</td>
						<td><input type="text" th:field="*{excessAmount}" maxlength="10" />円</td>
						<td th:if="${#fields.hasErrors('excessAmount')}" th:errors="*{excessAmount}" style="color: red"></td>
					</tr>
					<tr>
						<td>開始予定日</td>
						<td><input type="text" th:field="*{startYear}" class="year" size="2" />年 <input type="text" th:field="*{startMonth}" class="month" size="1" />月 <input type="text" th:field="*{startDay}" class="date" size="1" />日 <input type="text" value="" class="datepicker" style="display: none;" /></td>
						<td th:if="${#fields.hasErrors('startYear')}" th:errors="*{startYear}" style="color: red"></td>
						<td th:if="${#fields.hasErrors('startMonth')}" th:errors="*{startMonth}" style="color: red"></td>
						<td th:if="${#fields.hasErrors('startDay')}" th:errors="*{startDay}" style="color: red"></td>
					</tr>
					<tr>
						<td>終了予定日</td>
						<td><input type="text" th:field="*{endYear}" class="year" size="2" />年 <input type="text" th:field="*{endMonth}" class="month" size="1" />月 <input type="text" th:field="*{endDay}" class="date" size="1" />日 <input type="text" value="" class="datepicker" style="display: none;" /></td>
						<td th:if="${#fields.hasErrors('endYear')}" th:errors="*{endYear}" style="color: red"></td>
						<td th:if="${#fields.hasErrors('endMonth')}" th:errors="*{endMonth}" style="color: red"></td>
						<td th:if="${#fields.hasErrors('endDay')}" th:errors="*{endDay}" style="color: red"></td>
					</tr>
					<tr>
						<td>予定工数</td>
						<td><input type="text" th:field="*{manHours}" size="18" />人月</td>
						<td th:if="${#fields.hasErrors('manHours')}" th:errors="*{manHours}" style="color: red"></td>
					</tr>
				</table>
				<br />
				<div class="align_center">
					<input type="submit" name="back" value="戻る" /> <input name="confirm" type="submit" value="登録" />
				</div>
			</div>
		</form>
	</div>
</body>
</html>