<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/baselayout">
<head>
<title>派遣・SES情報登録画面</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="/css/login/login.css" th:href="@{/css/login/login.css}" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js}"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js" th:src="@{http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js}"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js" th:src="@{http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js}"></script>
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/redmond/jquery-ui.css" th:href="@{http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/redmond/jquery-ui.css}" />
<script type="text/javascript" src="/javascript/datepicker.js" th:src="@{/javascript/datepicker.js}"></script>
</head>
<body>
	<div layout:fragment="contents" class="contents">
		<form method="post" th:action="@{/engineerRegist}" th:object="${form}">
		<h3>派遣・SES情報登録</h3>

			<div>
				<table class="search">
					<tr>
						<td>開始予定日</td>
						<td><input type="text" th:field="*{dispatchStartYear}"  class="year" size="3" />年　<input type="text" th:field="*{dispatchStartMonth}"  class="month" size="1" />月　<input type="text" th:field="*{dispatchStartDay}"  class="date" size="1" />日　<input type="text" value="" class="datepicker" style="display: none;" /></td>

					</tr>
					<tr>
						<td>終了予定日</td>
						<td><input type="text" th:field="*{dispatchEndYear}"  class="year" size="3" />年　<input type="text" th:field="*{dispatchEndMonth}"  class="month" size="1" />月　<input type="text" th:field="*{dispatchEndDay}"  class="date" size="1" />日　<input type="text" value="" class="datepicker" style="display: none;" /></td>

					</tr>
					<tr>
						<td>下限時間</td>
						<td><input type="text" th:field="*{lowerTime}"  size="9" />時<input type="text" th:field="*{lowerTimem}"  size="8" />分</td>

					</tr>
					<tr>
						<td>上限時間</td>
						<td><input type="text" th:field="*{upperTIme}"  size="9" />時<input type="text" th:field="*{upperTImem}" size="8" />分</td>

					</tr>
					<tr>
						<td>精算方法</td>
						<td class="input_value" >
							<div >
								<select name="production"   style="width: 220px" >

									<option> </option>

									<option value="1"  th:selected="${production == '1'}">上下割り </option>

									<option value="2" th:selected="${production == '2'}">中間値割り</option>

									<option value="3" th:selected="${production == '3'}">なし</option>
							</select>
					</div></td></tr>
				</table>
					<input id="button" onClick="location.href='../subproject/caseDetail.html'" type="submit" value="戻る"/>
				<input  type="submit" value="次へ" />
			</div>
		</form>
	</div>
</body>
</html>