
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/baselayout">
<head>
<title>エンジニア情報削除確認画面</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="/css/login/login.css" th:href="@{/css/login/login.css}" rel="stylesheet" />

<script type="text/javascript" src="/javascript/deleteComma3.js" th:src="@{/javascript/deleteComma3.js}"></script>
</head>
<body onload="num3();">
				<div layout:fragment="contents" class="contents" id="mainContents">
					<form method="post" th:action="@{/EngineerDelete}" th:object="${form}">
						<div>
							<h3>エンジニア情報削除確認</h3>
							<table>
								<tr>
									<td width="150">社員番号</td>
									<td th:text="*{employeeDepartment}"></td>
								</tr>
								<tr>
									<td>BPコード</td>
									<td th:text="*{bpCompanyName}"></td>
								</tr>
								<tr>
									<td>エンジニア名</td>
									<td th:text="*{engineerName}"></td>
								</tr>
								<tr>
									<td>単価</td>
									<td><p th:text="*{Wprice}" id="price"></p>千円</td>
								</tr>
								<tr>
									<td>超過金額</td>
									<td><p th:text="*{excessPrice}" id="excessPrice"></p>円</td>
								</tr>
								<tr>
									<td>控除単価</td>
									<td><p th:text="*{deductionPrice}" id="deductionPrice"></p>円</td>
								</tr>
								<tr>
									<td>原価</td>
									<td><p th:text="*{wcost}" id="cost"></p>千円</td>
								</tr>
								<tr>
									<td>超過原価</td>
									<td><p th:text="*{excessCost}" id="excessCost"></p>円</td>
								</tr>
								<tr>
									<td>控除原価</td>
									<td><p th:text="*{deductionCost}" id="deductionCost"></p>円</td>
								</tr>
								<tr>
									<td>開始日</td>
									<td th:text="*{StartYms}"></td>
								</tr>
								<tr>
									<td>終了日</td>
									<td th:text="*{EndYms}" ></td>
								</tr>
								<tr>
									<td>予定工数</td>
									<td><p th:text="*{manHours}" id="manHours"></p>人月</td>
								</tr>
							</table>
							<br />
							<div class="align_center">
							<input type="submit" name="back" value="戻る"/>
								<input  type="submit" value="削除" />
							</div>
						</div>
					</form>
				</div>
</body>
</html>