
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/baselayout">
<head>
<title>エンジニア情報更新画面</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<link href="/css/login/login.css" th:href="@{/css/login/login.css}" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js}"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js" th:src="@{http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js}"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js" th:src="@{http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js}"></script>
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/redmond/jquery-ui.css" th:href="@{http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/redmond/jquery-ui.css}" />
<script type="text/javascript" src="/javascript/datepicker.js" th:src="@{/javascript/datepicker.js}"></script>
</head>
<body>
	<div layout:fragment="contents" class="contents">
					<form method="post" th:action="@{/dispatchConfirm}" th:object="${form}">
					<div>
							<h3>エンジニア情報更新</h3>
							<table class="search">
							<!-- 	<tr>
								 実装時に社員番号なのかBPコードなのか判断して表示
									<td>社員番号</td>
									<td><input type="text" maxlength="10" id="employeeNo" name="employeeNo" value="123企画開発部" disabled="disabled"/>　</td>
								</tr>-->
								<tr>
									<td>BPコード</td>
									<td><input th:align="justify" type="text" class="BP" th:field="*{clientId}" disabled="disabled" /> <input type="button" onClick="openWindow()" class="glyphicon glyphicon-new-window" aria-hidden="true" value="検索" /><input style="display: none;" onClick="location.href='engineerBpSearch'" type="button"
						value="" /></td>
								</tr>
								<tr>
									<td>エンジニア名</td>
									<td><input  type="text" maxlength="10" id="engineerName" name="engineerName" th:field="*{engineerName}" /></td>
								</tr>
								<tr>
									<td>単価</td>
									<td><input type="text" maxlength="10" id="price" name="price" th:field="*{price}" size="20" />千円</td>
								</tr>
								<tr>
									<td>超過金額</td>
									<td><input type="text" maxlength="10" id="" name="" th:field="*{excessPrice}" size="20" />円</td>
								</tr>
								<tr>
									<td>控除単価</td>
									<td><input type="text" maxlength="10" id="startDate" name="startDate" th:field="*{deductionPrice}" size="20" />円</td>
								</tr>
								<tr>
									<td>原価</td>
									<td><input type="text" maxlength="10" id="endDate" name="endDate" th:field="*{cost}" size="20" />千円</td>
								</tr>
								<tr>
									<td>超過原価</td>
									<td><input type="text" maxlength="10" id="endDate" name="endDate" th:field="*{excessCost}" size="20" />円</td>
								</tr>
								<tr>
									<td>控除原価</td>
									<td><input type="text" maxlength="10" id="endDate" name="endDate" th:field="*{deductionCost}" size="20" />円</td>
								</tr>
								<tr>
									<td>開始日</td>
									<td><input type="text" th:field="*{startYear}" th:errorclass="fieldError" class="year" size="3" />年<input type="text" th:field="*{startMonth}" th:errorclass="fieldError" class="month" size="1" />月　<input type="text" th:field="*{startDay}" th:errorclass="fieldError" class="date" size="1" />日　<input type="text" value="" class="datepicker" style="display: none;" /></td>
								</tr>
								<tr>
									<td>終了日</td>
									<td><input type="text" th:field="*{endYear}" th:errorclass="fieldError" class="year" size="3" />年<input type="text" th:field="*{endMonth}" th:errorclass="fieldError" class="month" size="1" />月　<input type="text" th:field="*{endDay}" th:errorclass="fieldError" class="date" size="1" />日　<input type="text" value="" class="datepicker" style="display: none;" /></td>
								</tr>
								<tr>
									<td>予定工数</td>
									<td><input type="text" maxlength="10" id="manHour" name="manHour" th:field="*{manHours}" size="20" />人月</td>
								</tr>
							</table>
							<br />
							<div class="align_center">
							<input id="button" onClick="location.href='../subproject/caseDetail.html'" type="button" value="戻る"/>
								<input id="button" onClick="location.href='engineerEditConfirm.html'" type="button" value="更新" />
							</div>
						</div>
					</form>
				</div>
</body>
</html>