<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/baselayout">
<head>
<title>エンジニア情報登録画面</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="/css/login/login.css" th:href="@{/css/login/login.css}" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js}"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js" th:src="@{http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js}"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js" th:src="@{http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js}"></script>
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/redmond/jquery-ui.css" th:href="@{http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/redmond/jquery-ui.css}" />


<script type="text/javascript">
	function entryChange1() {
		radio = document.getElementsByName('entryPlan')
		if (radio[0].checked) {
			//フォーム
			document.getElementById('firstBox').style.display = "";
			document.getElementById('firstBox2').style.display = "";
			document.getElementById('firstBox3').style.display = "";
			document.getElementById('secondBox').style.display = "none";
			document.getElementById('secondBox2').style.display = "none";
			document.getElementById('secondBox3').style.display = "none";
			document.getElementById('firstNotice').style.display = "";
		} else if (radio[1].checked) {
			//フォーム
			document.getElementById('firstBox').style.display = "none";
			document.getElementById('firstBox2').style.display = "none";
			document.getElementById('firstBox3').style.display = "none";
			document.getElementById('secondBox').style.display = "";
			document.getElementById('secondBox2').style.display = "";
			document.getElementById('secondBox3').style.display = "";
			document.getElementById('firstNotice').style.display = "";
		} else {
			document.getElementById('firstBox').style.display = "none";
			document.getElementById('firstBox2').style.display = "none";
			document.getElementById('firstBox3').style.display = "none";
			document.getElementById('secondBox').style.display = "none";
			document.getElementById('secondBox2').style.display = "none";
			document.getElementById('secondBox3').style.display = "none";
			document.getElementById('firstNotice').style.display = "none";
		}
	}
	//オンロードさせ、リロード時に選択を保持
	window.onload = entryChange1;
</script>

<script type="text/javascript">
	// 子ウィンドウを開く<input href="" type="button" onClick="openWindow()" class="glyphicon glyphicon-new-window" aria-hidden="true" value="検索" />
	function openWindow() {
		window.open('./engineerBpSearch', 'child', 'width=1000,height=500')
		//window.open('http://localhost:8080/SalesSupporter/engineerBpSearch', 'child', 'width=1000,height=500')
	}
</script>
<script>
	// 子ウィンドウを開く<input href="" type="button" onClick="windowOpen()" class="glyphicon glyphicon-new-window" aria-hidden="true" value="検索" />
	function windowOpen() {
		window.open('./engineerEmployeeSearch', 'child',
				'width=1000,height=500')
	}
</script>
<script type="text/javascript" src="/javascript/datepicker.js" th:src="@{/javascript/datepicker.js}"></script>
</head>
<body>
	<div layout:fragment="contents" class="contents">
		<form name="parentfrm" method="post" th:action="@{/engineerAddConfirm}" th:object="${form}">
			<h3>エンジニア情報登録画面</h3>


			<input type="radio" name="entryPlan" value="hoge1" onclick="entryChange1();" />BP
			<input type="radio" name="entryPlan" value="hoge2" onclick="entryChange1();" />社員
			<table id="firstNotice" border="1">
				<!-- 表示非表示切り替え -->
				<tr id="firstBox">
					<th>BPコード</th>
					<td><input  type="text" class="form-control" name="parent_input" th:field="*{clientId}" id="bpCode" readonly="readonly" /> <input type="button" onClick="openWindow()" class="glyphicon glyphicon-new-window" aria-hidden="true" value="検索" /></td>
				</tr>
				<!-- 表示非表示切り替え -->
				<tr id="secondBox">
					<th>社員番号</th>
					<td><input type="text" class="employeeCode" th:field="*{employeeNo}" id="employeeCode" readonly="readonly" /> <input type="button" onClick="windowOpen()" class="glyphicon glyphicon-new-window" aria-hidden="true" value="検索" /></td>
				</tr>
				<!-- 表示非表示切り替え -->
				<tr id="secondBox2">
					<td >エンジニア名</td>
					<td><input  type="text" maxlength="10" id="engineerName" name="engineerName" th:field="*{engineerName}" readonly="readonly" /></td>
				</tr>
				<tr id="firstBox2">
					<td >エンジニア名</td>
					<td><input  type="text" maxlength="10" id="" name="" th:field="*{bpEngineerName}" /></td>
				</tr>
				<tr>
					<td >単価</td>
					<td><input type="text" maxlength="10" id="price" name="" th:field="*{wprice}" size="20" />千円</td>
				</tr>
				<tr>
					<td >超過金額</td>
					<td><input type="text" maxlength="10" id="excessPrice" name="" th:field="*{excessPrice}" size="20" />円</td>
				</tr>
				<tr>
					<td>控除単価</td>
					<td><input type="text" maxlength="10" id="deductionPrice" name="" th:field="*{deductionPrice}" size="20" />円</td>
				</tr>
				<!-- 表示非表示切り替え -->
				<tr id="secondBox3">
					<td>原価</td>
					<td><input type="text" maxlength="10" id="Wcost" name="Wcost" th:field="*{wcost}" size="20" readonly="readonly" />千円</td>
				</tr>
				<tr id="firstBox3">
					<td>原価</td>
					<td><input type="text" maxlength="10" id="cost"  th:field="*{bpWcost}" size="20" />千円</td>
				</tr>
				<tr>
					<td>超過原価</td>
					<td><input type="text" maxlength="10" id="excessCost" name="endDate" th:field="*{excessCost}" size="20" />円</td>
				</tr>
				<tr>
					<td>控除原価</td>
					<td><input type="text" maxlength="10" id="deductionCost" name="endDate" th:field="*{deductionCost}" size="20" />円</td>
				</tr>
				<tr>
					<td>開始日</td>
					<td><input type="text" th:field="*{StartYear}" class="year" size="2" />年 <input type="text" th:field="*{StartMonth}" class="month" size="1" />月<input type="text" th:field="*{StartDay}" class="date" size="1" />日<input type="text" value="" class="datepicker"
						style="display: none;" /></td>
				</tr>
				<tr>
					<td>終了日</td>
					<td><input type="text" th:field="*{EndYear}" class="year" size="2" />年 <input type="text" th:field="*{EndMonth}" class="month" size="1" />月<input type="text" th:field="*{EndDay}" class="date" size="1" />日<input type="text" value="" class="datepicker"
						style="display: none;" /></td>
				</tr>
				<tr>
					<td>予定工数</td>
					<td>
					<input type="text" maxlength="10" id="manHours" name="manHour" th:field="*{manHours}" size="20" />人月
					</td>
				</tr>
			</table>
			<br /><input type="submit" name="back" value="戻る"/> <input type="submit" value="登録" />
		</form>
	</div>

</body>
</html>