
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/baselayout">
<head>
<title>エンジニア情報削除確認画面</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="/css/login/login.css" th:href="@{/css/login/login.css}" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js}"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js" th:src="@{http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js}"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js" th:src="@{http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js}"></script>
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/redmond/jquery-ui.css" th:href="@{http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/redmond/jquery-ui.css}" />
<script type="text/javascript" src="/javascript/datepicker.js" th:src="@{/javascript/datepicker.js}"></script>
</head>
<body>
				<div layout:fragment="contents" class="contents">
					<form method="post" th:action="@{/EngineerDelete}" th:object="${form}">
						<div>
							<h3>エンジニア情報削除確認</h3>
							<table>
								<tr>
									<td width="150">社員番号</td>
									<td th:text="*{employeeNo}"></td>
								</tr>
								<!--  実装時に社員番号なのかBPコードなのか判断して表示<tr>
									<td>BPコード</td>
									<td th:text="*{clientId}"></td>
								</tr>!-->
								<tr>
									<td>エンジニア名</td>
									<td th:text="*{engineerName}"></td>
								</tr>
								<tr>
									<td>単価</td>
									<td th:text="*{wprice}">千円</td>
								</tr>
								<tr>
									<td>超過金額</td>
									<td th:text="*{excessPrice}">円</td>
								</tr>
								<tr>
									<td>控除単価</td>
									<td th:text="*{deductionPrice}">円</td>
								</tr>
								<tr>
									<td>原価</td>
									<td th:text="*{wcost}">千円</td>
								</tr>
								<tr>
									<td>超過原価</td>
									<td th:text="*{excessCost}">円</td>
								</tr>
								<tr>
									<td>控除原価</td>
									<td th:text="*{deductionCost}">円</td>
								</tr>
								<tr>
									<td>開始日</td>
									<td th:text="*{StartYms}"></td>
								</tr>
								<tr>
									<td>終了日</td>
									<td th:text="*{EndYms}" ></td>
								</tr>
								<tr>
									<td>予定工数</td>
									<td th:text="*{manHours}">人月</td>
								</tr>
							</table>
							<br />
							<div class="align_center">
							<input type="submit" name="back" value="戻る"/>
								<input  type="submit" value="削除" />
							</div>
						</div>
					</form>
				</div>
</body>
</html>