<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/baselayout">
<head>
<title>社員一覧画面</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="/css/list.css" th:href="@{/css/list.css}" rel="stylesheet" />
</head>
<body>
	<div layout:fragment="contents" class="contents">
		<form method="post" th:action="@{/classificationList}" th:object="${form}">
			<div>
				<table class="search">
					<tr>
						<td>種別コード</td>
						<td><input type="text" th:field="*{classificationCode}" th:name="classificationCode" maxlength="10" /></td>
						<td colspan="2" class="align_center"><input id="search" name="search" type="submit" value="検索" /></td>
					</tr>
					<tr>
						<td class="align_center"><input id="delete" type="submit" name="delete" value="削除" /></td>
						<td class="align_center"><input id="edit" type="submit" name="edit" value="変更" /></td>
					</tr>
				</table>
			</div>
			<table>
				<thead>
					<tr>
						<th>選択</th>
						<th>種別コード</th>
						<th>種別ID</th>
						<th>種別名</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="obj : ${serachClassificationList}">
						<td><input type="checkbox" th:value="${obj.classificationCode} + ' ' + ${obj.classificationId}" th:name="check" th:field="*{check}" /></td>
						<td th:text="${obj.classificationCode}"></td>
						<td th:text="${obj.classificationId}"></td>
						<td th:text="${obj.classificationName}"></td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
</body>
</html>