<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/baselayout">
<head>
<title>マスタ削除確認画面</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="/css/login/login.css" th:href="@{/css/login/login.css}" rel="stylesheet" />
</head>
<body>
	<div layout:fragment="contents" class="contents">
		<form method="post" th:action="@{/classificationDeleteConfirm}" th:object="${form}">
			<div>
				<h3>マスタ削除確認</h3>
				<table>
					<tr>
						<td>マスタコード</td>
						<td th:text="*{classificationCode}"></td>
						<td><input type="hidden" th:field="*{classificationCode}" /></td>
					</tr>
					<tr>
						<td>マスタID</td>
						<td th:text="*{classificationId}"></td>
						<td><input type="hidden" th:field="*{classificationId}" /></td>
					</tr>
					<tr>
						<td>マスタ種別</td>
						<td th:text="*{classificationName}"></td>
						<td><input type="hidden" th:field="*{classificationName}" /></td>
					</tr>
				</table>
				<br />
				<div class="align_center">
					<input type="submit" name="back" value="戻る" /> <input name="confirm" type="submit" value="削除" />
				</div>
			</div>
		</form>
	</div>
</body>
</html>
tml>
